@keyframes fluidMotion {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      transform: translate(-100px, 100px) rotate(60deg);
    }
    40% {
      transform: translate(150px, -150px) rotate(-20deg);
    }
    60% {
      transform: translate(-100px, 200px) rotate(30deg);
    }
    80% {
      transform: translate(200px, -100px) rotate(-80deg);
    }
    100% {
      transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @keyframes backgroundChange {
    0%, 100% {
      color: #bfff00;
    }
    16% {
      color: #00eeff;
    }
    32% {
      color: #00eeff;
      
    }
    48% {
      color: #0015ff;
    }
    64% {
      color: #00ffd9;
    }
    80% {
      color: #00ffd9;
    }
  }
  
  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  
  .hero__bg-wrap {
    width: 100%;
    height: 100%;
    z-index: -1000;
  }
  
  .liq-elem-1,
  .liq-elem-2,
  .liq-elem-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(80px);
    mix-blend-mode: screen;
    animation: fluidMotion 40s infinite cubic-bezier(0.545, 0.08, 0.52, 0.975),
               backgroundChange 25s infinite ease-in-out;
    will-change: transform, color;
    pointer-events: none;
    opacity: 0.5;
    overflow: hidden;
    
  }
  
  .liq-elem-1 {
    animation-delay: -6s, -3s;
  }
  .liq-elem-2 {
    animation-delay: -6s, -10s;
  }
  .liq-elem-3 {
    animation-delay: -2s, -4s;
  }
  